#main-container {

	margin: 30px auto;
	width: auto;
}
#botones{
	margin: 5px 110px;
	width: auto;
}

img{

	margin-left: 1210px
}
table{
	margin-top: center;
	align-items: auto;
	caption-side: block;
	margin-left: 125px;
	margin: center;

}
td{
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	border: 0px;
	border-top-color: : #F6F4E8;
}
th{
	background-color: #F2D43F;
	border: 1px solid  #F2D43F;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	border-width: 10px;
	border-radius: 10px;
	border-color:  #F2D43F;
}
.button {

	background-color: #52DDF5;
	color: #fff;
	display: inline-block;
	font-size: 1.00em;
	margin: auto;
	padding: 10px 20px;
	text-align: center;
	margin: auto;
	width: 100px;
	text-decoration:none;
	cursor: pointer;
}